*.pyc
__pycache__/
.vscode



# Enviroment
.env
.venv
env/
venv/
ENV/
.venv/
env.bak/
venv.bak/
ENV.bak/
.venv.bak/


# Other folder
data/
logs/
projects/
output/


# Temp files
**/*.log
**/tempCodeRunnerFile.py
